<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoicePulse | About Us</title>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/VP favicon.svg">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <section class="container flex">
        <a class="logo" href="/"
          ><img
            class="logo-header"
            src="/images/VP logo black.svg"
            alt="logo VoicePulse"
        /></a>
        <nav>
          <ul class="menu header__menu flex">            
            <li><a href="/about">ПРО НАС</a></li>
            <li><a href="/services">ПОСЛУГИ</a></li>
            <li><a href="/team">КОМАНДА</a></li>            
            <li><a href="/contact">ЗВ'ЯЗАТИСЬ</a></li>
          </ul>
        </nav>
        <div id="header_btn">
        </div>

        <div id="right-side-reg" class="right-side-reg flex">
          <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
        </div>

      </section>
      <div id="dropdown_menu" class="dropdown_menu">
          <li><a href="/about">ПРО НАС</a></li>
          <li><a href="/services">ПОСЛУГИ</a></li>
          <li><a href="/team">КОМАНДА</a></li>          
          <li><a href="/contact">ЗВ'ЯЗАТИСЬ</a></li>          
      </div>
    </header>

    <main class="main container-bg">
      <section class="container about flex">
        <div class="about__info flex">
          <h2>Про нас</h2>
          <p>
            Розроблений у 2024 році, VoicePulse - це інноваційний вебсайт, що створює стійкі результати для громади. місце, де громадяни міста можуть брати участь у опитуваннях та інших ініціативах задля покращення міста. Наша мета - зробити голос кожного чутним та сприяти позитивним змінам у громаді.
          </p>
        </div>
        <div class="about__bg"></div>
      </section>
      <section class="container talent flex">
        <div class="talent__bg"></div>
        <div class="talent__info flex">
          <h2>Ваш голос має значення</h2>
          <p>
            Ми віримо в силу голосу громадян та важливість активного громадянського суспільства. З VoicePulse, ваш голос має значення. Долучайтесь до нас, щоб разом ми могли створити майбутнє, яке ми всі хочемо бачити.
          </p>
          <p>
            Ми співпрацюємо з громадянами міста, щоб створити платформу, яка робить реальний вплив. Ми прагнемо створювати цифрові досвіди, які з’єднують наших користувачів з їхніми громадами.
          </p>
        </div>
      </section>
      <section class="container geo flex">
        <div class="geo__title">
          <h2>Розроблено при підтримці</h2>
        </div>        
        <article class="geo__item">
            <img src="/images/cmeac logo.svg" alt="">
            <h3>Червоноградський гірничо-економічний фаховий коледж</h3>
            <a href="https://dvnzchgek.edu.ua/">WEBSITE</a>
        </article>
        <article class="geo__item">
            <img src="/images/chervonograd-flag.png" alt="">
            <h3>Червоноградська міська рада</h3>
            <a href="https://www.chg.gov.ua/">WEBSITE</a>
        </article>
        <article class="geo__item">
            <img src="/images/VP logo black.svg" alt="">
            <h3>VoicePulse Team</h3>            
            <a href="/team">WEBSITE</a>
        </article>
      </section>
      <section class="container deal flex">
        <div class="deal__bg"></div>
        <div class="deal__info flex">
          <h2>Реальна справа</h2>
          <p>
            Як стратегічні партнери в бізнесі наших клієнтів, ми готові прийняти будь-який виклик як свій. Вирішення реальних проблем вимагає емпатії та співпраці, і ми прагнемо донести нову перспективу до кожної можливості.
          </p>
          <p>
            Ми - VoicePulse, об'єднуємо стратегії громадської участі та маркетингу, ми надихаємо аудиторію до дій та досягаємо реальних результатів. З VoicePulse, ваш голос стає важливим інструментом для позитивних змін у вашому місті.
          </p>
        </div>
      </section>
    </main>

    <footer class="footer">
      <section class="container">
        <article class="touch flex">
          <div class="touch__content">
            <h2>Давайте змінювати громаду&nbsp;разом</h2>
            <p>
              Готові до змін? Беріть участь у актуальних опитуваннях. Або зв'яжіться з нами, якщо бажаєте створити власне опитування чи повідомити про проблеми.
            </p>
          </div>
          <a href="/services">ДО ОПИТУВАНЬ</a>
        </article>

        <section class="container flex bt-line">
          <div>
            <a class="logo" href="/"
              ><img
                class="logo-footer"
                src="/images/VP logo white.svg" 
                alt="logo VoicePulse"
            /></a>
          </div>
          <div>
            <ul class="menu footer__menu flex">
              <li><a href="/">ГОЛОВНА</a></li>
              <li><a href="/services">ПОСЛУГИ</a></li>
              <li><a href="/team">КОМАНДА</a></li>
              <li><a href="/contact">ЗВ'ЯЗАТИСЬ</a></li>
            </ul>
          </div>
        </section>

        <section class="info flex">
          <article class="info__item">
            <h2>VoicePulse Central Office</h2>
            <p>80100 просп. Шевченка 19</p>
            <p>Україна, Червоноград</p>
          </article>
          <article class="info__item fw700">
            <h2>Contact Us (Central Office)</h2>            
            <a href="tel:380986460378">P : +38 098-646-0378</a>            
            <a href="mailto:contact@voicepulse.com">M : contact@voicepulse.com</a>
          </article>
          <article class="info__item social flex">
            <a href="https://www.facebook.com/profile.php?id=61551079169506" target="_blank"></a>
            <a href="https://www.instagram.com/vodolazhenko_vlad?igsh=MWVnNzk2Y2tiZ3kxcg==" target="_blank"></a>
            <a href="https://t.me/Vladyslav_Vodolazhenko" target="_blank"></a>
          </article>
          <p class="info__item">© 2024 VoicePulse. All rights reserved</p>
        </section>
      </section>
    </footer>

  <script src="/js/main.js"></script>

  </body>
</html>
