<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>VoicePulse | Our Team</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/VP favicon.svg">

    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <header class="header">
      <section class="container flex">
        <a class="logo" href="/"
          ><img
            class="logo-header"
            src="/images/VP logo black.svg"
            alt="logo VoicePulse"
        /></a>
        <nav>
          <ul class="menu header__menu flex">            
            <li><a href="/about">ПРО НАС</a></li>
            <li><a href="/services">ПОСЛУГИ</a></li>
            <li><a href="/team">КОМАНДА</a></li>            
            <li><a href="/contact">ЗВ'ЯЗАТИСЬ</a></li>
          </ul>
        </nav>
        <div id="header_btn">
        </div>

        <div id="right-side-reg" class="right-side-reg flex">
          <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
        </div>

      </section>
      <div id="dropdown_menu" class="dropdown_menu">
          <li><a href="/about">ПРО НАС</a></li>
          <li><a href="/services">ПОСЛУГИ</a></li>
          <li><a href="/team">КОМАНДА</a></li>          
          <li><a href="/contact">ЗВ'ЯЗАТИСЬ</a></li>          
      </div>
    </header>

    <main class="main container-bg loc">
      <section class="container flex locations">        
        <div class="locations__item flex">

          <div class="circle-avatar"></div>

          <article class="bio flex">
            <div class="bio__item">
              <h2>VODOLAZHENKO VLADYSLAV</h2>
              <h3>FRONTEND DEVELOPER | UX/UI DESIGNER</h3>
              <div class="flex">                
                <div class="techv flex">
                  <p></p><p></p><p></p><p></p><p></p><p></p><p></p>
                </div>
              </div>
              <div class="bio_social flex">
                <a href="https://www.instagram.com/vodolazhenko_vlad?igsh=MWVnNzk2Y2tiZ3kxcg==" target="_blank"></a>
                <a href="https://t.me/Vladyslav_Vodolazhenko" target="_blank"></a>
              </div>
            </div>              
          </article>
          <img
            src="/images/IMG_0790.png"
            alt="Vladyslav's photo"
          />
        </div>
        <div class="locations__item flex">

          <div class="circle-avatar"></div>

          <article class="bio flex">
            <div class="bio__item">
              <h2>MOMOTOK MAKSYM</h2>
              <h3>BACKEND DEVELOPER | DATABASE ENGINEER</h3>
              <div class="flex">                
                <div class="techm flex">
                  <p></p><p></p><p></p><p></p><p></p><p></p><p></p>
                </div>
              </div>
              <div class="bio_social flex">
                <a href="https://www.instagram.com/maksmmtk?igsh=MXc0NWN4emw4dXBvZg==" target="_blank"></a>
                <a href="https://t.me/m4cc7" target="_blank"></a>
              </div>
            </div>              
          </article>
          <img
            src="/images/momotok.png"
            alt="Maksym's photo"
          />
        </div>                     
      </section>
    </main>

    <footer class="footer">
      <section class="container">
        <article class="touch flex">
          <div class="touch__content">
            <h2>Давайте змінювати громаду&nbsp;разом</h2>
            <p>
              Готові до змін? Беріть участь у актуальних опитуваннях. Або зв'яжіться з нами, якщо бажаєте створити власне опитування чи повідомити про проблеми.
            </p>
          </div>
          <a href="/services">ДО ОПИТУВАНЬ</a>
        </article>

        <section class="container flex bt-line">
          <div>
            <a class="logo" href="/"
              ><img
                class="logo-footer"
                src="/images/VP logo white.svg" 
                alt="logo VoicePulse"
            /></a>
          </div>
          <div>
            <ul class="menu footer__menu flex">
              <li><a href="/">ГОЛОВНА</a></li>
              <li><a href="/about">ПРО НАС</a></li>
              <li><a href="/services">ПОСЛУГИ</a></li>
              <li><a href="/contact">ЗВ'ЯЗАТИСЬ</a></li>
            </ul>
          </div>
        </section>

        <section class="info flex">
          <article class="info__item">
            <h2>VoicePulse Central Office</h2>
            <p>80100 просп. Шевченка 19</p>
            <p>Україна, Червоноград</p>
          </article>
          <article class="info__item fw700">
            <h2>Contact Us (Central Office)</h2>            
            <a href="tel:380986460378">P : +38 098-646-0378</a>            
            <a href="mailto:contact@voicepulse.com">M : contact@voicepulse.com</a>
          </article>
          <article class="info__item social flex">
            <a href="https://www.facebook.com/profile.php?id=61551079169506" target="_blank"></a>
            <a href="https://www.instagram.com/vodolazhenko_vlad?igsh=MWVnNzk2Y2tiZ3kxcg==" target="_blank"></a>
            <a href="https://t.me/Vladyslav_Vodolazhenko" target="_blank"></a>
          </article>
          <p class="info__item">© 2024 VoicePulse. All rights reserved</p>
        </section>
      </section>
    </footer>

    <script src="/js/main.js"></script>

  </body>
</html>
